@font-face {
    font-family: "Avenir";
    src: url("../fonts/Avenir-Book.ttf");
}

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    font-family: 'Avenir', sans-serif;
    color: #000000;
}

a {
    text-decoration: none;
    cursor: pointer; 
    color: inherit;
}

img {max-width: 100%;}



/* Layout */

.m-t {margin-top: 1rem;}
.m-l {margin-left: 1rem;}
.m-b {margin-bottom: 1em;}
.m-r {margin-right: 1em;}

.b-b {box-shadow: inherit 2px 2px 4px black;}

.fila {
    display: flex;
    padding: 2rem 1rem;
}


/* Animación */

@keyframes heroAnimation {
    0% {

    }

    50% {

    }

    100% {

    }
}


/* Main */

/* Header */

header {
    background-color: #2C3333;
    box-shadow: 1.5px 1.5px 4px black;
    height: 80px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    padding: 0 5em;
    z-index: 10;
    transition: 200ms all ease-in-out;
}

header.transparente {
    background-color: transparent;
    box-shadow: none;
}

header p {
    color: #E7F6F2;
    font-size: 1.5em;
    font-weight: bold;
    filter: drop-shadow(2px 2px 1px black);
}

header nav a {
    color: #E7F6F2;
    margin-left: 1em;
    filter: drop-shadow(2px 2px 1px black);
    font-weight: normal;
    transition: 50ms all ease-in-out;
}

header nav a.activo, header nav a:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.9);
    border-radius: 2px;
}

header.transparente nav a {
    color: rgba(255, 255, 255, 0.9);
    font-weight: normal;
    margin-left: 1em;
    transition: 50ms all ease-in-out;
}

header.transparente nav a.activo,
header.transparente nav a:hover {
    border-bottom: 3px solid rgba(255, 255, 255, 0.9);
    filter: drop-shadow(2px 2px 1px black);
    font-weight: bold;
    border-radius: 2px;
} 

/* Hero */

.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
        ), url('../img/front3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: relative;
    z-index: 9;
}

.hero div h1 {
    color: #E7F6F2;
    font-size: 2.8rem;
    font-weight: bold;
    filter: drop-shadow(2px 2px 1px black);
}

.hero .hero-down {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: none;
    opacity: 1;
    width: 5%;
    height: auto;
}

.hero .titulo button:hover {
    background-color: rgb(173, 80, 47);
}

/* información adicional */


.pr {
    display: block;
    margin-bottom: -110px;
}

.informacion {
    width: 100%;
    height: 100%;
    background-color: white;
}

.informacion div {
    padding: 75px 0;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.informacion div p {
    font-size: 1.2em;
    padding: 30px;
    color: #2C3333;
}

.informacion div img {
    margin: 0 30px;
    width: 690px;
    height: auto;
    box-shadow: 2px 2px 4px black;
}

/* parallax */


.parallax {
    background-image: url('../img/property5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 3rem 2rem;
}

.parallax div {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 1.5rem;
}

.parallax div p {
    font-size: 1.6rem;
    color: #2C3333;
    text-align: center;
    font-weight: bold;
}

/* Sobre nosotros */

.nosotros {
    width: 100%;
    height: 100%;
    text-align: center;
}

.nosotros h2 {
    margin: 100px;
    font-size: 3.5em;
    font-weight: bold;
    filter: drop-shadow(2px 2px 5px black);
}

.nosotros p {
    margin: 0 50px;
    margin-bottom: 100px;
    font-size: 1.2em;
}

footer {
    background-color: #2C3333;
    height: 260px;
}



